# Ignore the binary produced
sanepack
# Ignore the output file and build log
output.json
build.log
lintian.log

# As well as build directories
debian/

# and temporary and backup files
*~
.\#*
\#*
*\#